@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Roboto:wght@300&display=swap');

:root {
  --main-color: green;
  --secondary-color: yellow;
  font-size: calc(0.5em + 1vmin);
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

*, *::after, *::before{
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-image: url('./photos/worn-dots.png');
  background-color: #eae7e0;
}
 

.form-content {
  min-width: 320px;
  max-width: 640px;
  width: 50%;
  height: 100%;
  position: relative;
  padding: 2em;
  background-color: white;
}

.photo-left {
  background: url('./photos/background.jpg');
  background-size: cover;
  height: 100%;
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.content-wrapper{
  width: 80%;
  height: 80%;
  min-height: fit-content;
  display: flex;
  box-shadow: 1px 1px 20px black;
}

label, .form-input {
  display: block;
  width: 100%;
}

.form {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

button{
  position: absolute;
  bottom: 0;
  align-self: flex-start;
  width: 100%;
  font-size: 1.5em;
  padding: 0.5em;
  color: white;
  border: none;
  background-image: linear-gradient(to top, #4d9699, #569b9e, #5fa0a3, #68a6a8, #70abad);
  box-shadow: 0px 1px 3px black;
  border-radius: 0.3em;
  transition: all 0.5s;
}

button:hover{
  cursor: pointer;
  background-image: linear-gradient(to top, #70abad, #79b0b2, #82b5b7, #8bbbbc, #94c0c1);
  transform: scale(1.02);
}

button:active{
  box-shadow: inset 0px 1px 3px black;
  transform: scale(1.02);
}

.form-input {
  margin-bottom: 1rem;
  font-size: 1rem;
  background:none;
  color: #4d9699;
  border: none;
  border: solid 1.5px #4d9699;
  border-radius: 0.3em;
  padding: 0.5em;
}

::placeholder{
  color: grey;
}
.form-input:focus{
  background-color: rgba(255, 255, 255, 0.6);

  outline: none;
}

.form.input:focus::placeholder{
  color: transparent;
}

.text-left{
  background-color: rgba(0, 0, 0, 0.4);  
  backdrop-filter: blur(5px);
  padding: 1.5em;
  width: 100%;
}

.text-left h1{
  font-family: 'Marck Script', cursive;
  color: #fbc11a;
  font-size: 3rem;
  text-decoration: underline;
}

.text-left h3{
  font-family: 'Roboto', sans-serif;
  color: white;
  letter-spacing: 0.05em;
  font-weight: lighter;
}

label {
  font-weight: bolder;
  margin-bottom: 0.2em;
}

.dish-type {
  /* display: flex; */
  justify-content: stretch;
}

.dish-type-choice{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.dish-type-fields{
  width: 50%;
  /* display: flex; */
  justify-content: last baseline;
  gap: 10%;
}


.spiciness-scale{
  display: flex;
  width: 100%;
}