@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Roboto:wght@300&display=swap');

:root {
  --main-color: green;
  --secondary-color: yellow;
  font-size: calc(0.5em + 1vmin);
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

*, *::after, *::before{
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.wrapper:before {
  position: absolute;
  content:'';
  height: 100vh;
  width: 100vw;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  background-image: url('./photos/worn-dots.png'), linear-gradient(to left, #008285, #008196, #007fa6, #007bb5, #0075be);
  mask-image: url('./photos/wave\ \(3\).svg');
  background-position: right;
mask-size: cover;
mask-repeat: no-repeat;
mask-position: center;
mask-clip: content-box;
}

/* .wrapper:after {
  position: absolute;
  content:'';
  height: 100vh;
  width: 100vw;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  background-image: url('./photos/worn-dots.png'),linear-gradient(to right, #94f7b2, #85edb0, #77e4ae, #69daac, #5cd0a9);
  mask-image: url('./photos/wave\ \(2\).svg');
mask-size: cover;
mask-repeat: no-repeat;
mask-position: center;
mask-clip: content-box;
} */

.background{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  width: 0;

}

.form-content {
  width: 400px;
  /* max-width: 640px;
  width: 50%; */
  height: 100%;
  position: relative;
  padding: 2em;
  background: rgba( 255, 255, 255, 0.2);
  border-radius: 1em;
  /* border-top-right-radius: 1em;
  border-bottom-right-radius: 1em; */
  border-radius: 1.5em;
  border: 1px solid rgba( 255, 255, 255, 0.18);
backdrop-filter: blur( 0px );
-webkit-backdrop-filter: blur( 0px );
box-shadow:  5px 5px 10px #206d85,
             -5px -5px 10px #206f87;
}


.photo-left {
  /* background-image: url('./photos/worn-dots.png'), linear-gradient(to left, #50d5b7, #40bea3, #30a88f, #1e927b, #067d68); */
  width: 50%;
  height: 100%;
  display: flex;
  flex:1;
  position: relative;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  color: black;
  /* background-image: linear-gradient(to left, rgba(80,213,183, 0.7), rgba(64,190,163, 0.8), rgba(48,168,143, 0.7), rgba(30,146,123, 0.8), rgba(6,125,104, 0.9)), url('./photos/background.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background: rgba( 255, 255, 255, 0.1); */
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  /* opacity: 0; */
  /* mask-image: url('./photos/blob\ \(3\).svg');
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-clip: content-box; */
}

.content-wrapper{
  width: 60%;
  height: 80%;
  min-height: fit-content;
  display: flex;
  /* background: white;
  opacity: 0.4; */
  z-index: 2;


  /* box-shadow: 1px 1px 20px black; */
}

label, .form-input {
  display: block;
  width: 100%;
}

.form {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

button{
  position: absolute;
  bottom: 0;
  align-self: flex-start;
  width: 100%;
  font-size: 1.5em;
  padding: 0.5em;
  color: white;
  border: none;
  background-image: linear-gradient(to top, #4d9699, #569b9e, #5fa0a3, #68a6a8, #70abad);
  box-shadow: 0px 1px 3px black;
  border-radius: 0.3em;
  transition: all 0.5s;
}

button:hover{
  cursor: pointer;
  background-image: linear-gradient(to top, #70abad, #79b0b2, #82b5b7, #8bbbbc, #94c0c1);
  transform: scale(1.02);
}

button:active{
  box-shadow: inset 0px 1px 3px black;
  transform: scale(1.02);
}

.form-input {
  margin-bottom: 1rem;
  font-size: 1rem;
  background:none;
  color: #4d9699;
  border: none;
  border: solid 1.5px #4d9699;
  border-radius: 0.3em;
  padding: 0.5em;
}

::placeholder{
  color: grey;
}
.form-input:focus{
  background-color: rgba(255, 255, 255, 0.6);

  outline: none;
}

.form.input:focus::placeholder{
  color: transparent;
}

.text-left{
  /* background-color: rgba(0, 0, 0, 0.4);  
  backdrop-filter: blur(5px); */
  padding: 1.5em;
  width: 100%;
}

.text-left h1{
  font-size: 3rem;
  position: absolute;
  text-align: left;
}

.text-left h3{
  font-family: 'Roboto', sans-serif;
  color: white;
  letter-spacing: 0.05em;
  font-weight: lighter;
}

label {
  font-weight: bolder;
  margin-bottom: 0.2em;
}

.dish-type {
  /* display: flex; */
  justify-content: stretch;
}

.dish-type-choice{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.dish-type-fields{
  width: 50%;
  /* display: flex; */
  justify-content: last baseline;
  gap: 10%;
}


.spiciness-scale{
  display: flex;
  width: 100%;
}