@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Lato&display=swap');

:root {
  --green: #008285;
  --blue: #0081a1;
  --color-dark-text: #444444;
  --light-color: #ffffff;
  --light-grey: #95B0B1;
  --light-green: #d5e6e0;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: var(--color-dark-text);
  letter-spacing: 0.03rem;
  font-weight: lighter;
  overflow-x: hidden;
  overflow-y: hidden;
}

*, *::after, *::before {
  box-sizing: border-box;
}

/* Background */

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-color);
}

.wrapper:before {
  content:'';
  height: 100vh;
  width: 100vw;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-image: url('./photos/worn-dots.png'), linear-gradient(to right, #d5e6e0, #d9eae4, #ddede9, #e2f1ed, #e6f4f1);
  mask-image: url('./photos/wave\ \(1\).svg');
  background-position: right;
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-clip: content-box;

  animation: wrapper-start 1.5s ease-in;
}

/* Form Layout*/

.form-content {
  position: relative;
  width: 400px;
  height: 85%;
  min-height: 640px;
  padding: 2rem;
  border-radius: 2rem;
  border: 1px solid rgba(149,176,177, 0.18);  
  background: var(--light-color);  
  box-shadow:  5px 5px 10px var(--light-grey);
}

.form-content:before {
  content:'';
  height: 30%;
  width: 100%;
  top:0;
  left:0;
  position: absolute;
  background-image: url('./photos/worn-dots.png'), linear-gradient(to right, #008285, #00828d, #008294, #00829b, #0081a1);
  mask-image: url('./photos/wave\ \(1\).svg');
  background-position: right;
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-clip: content-box;
  border-radius: 2rem;
}

.form {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* --- Form Elements --- */

/* Top Part */

h1 {
  color: var(--light-color);
  height: 20%;
  font-family: 'Pacifico', cursive;
  font-weight: 200;
  margin-top: 0;
}

/* Inputs */

.form-inputs{
  height: 15%;
  min-height: 80px;
}

label {
  display: block;
  width: 100%;
  font-weight: 600;
  margin-bottom: 0.1rem;
  font-size: 1rem;
  letter-spacing: 0.035rem;
}

.input {
  display: block;
  width: 100%;
  background: none;
  font-size: 1.5rem;
  border: none;
  padding: 0.2rem 0;
  color: var(--green);
  font-weight: 500;  
  border-bottom: solid 3px var(--green);  
  outline: none;
}

::placeholder{
  color: var(--green);
  opacity: 0.5;
}

.form-input:focus{
  background-color: var(--light-green);
  outline: none;
}

.form.input:focus::placeholder{
  color: transparent;
}

.dish-type {
  display: flex;
  justify-content: stretch;
}

.dish-type-choice{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.dish-type-fields{
  width: 50%;
  gap: 10%;
}

.spiciness-scale{
  display: flex;
  width: 100%;
}

input[type='radio'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border:1px solid var(--green);
  border-radius:50%;
  outline:none;
}

input[type='radio']:hover {
  box-shadow:0 0 5px 0px var(--light-grey) inset;
}

input[type='radio']:before {
  content:'';
  display: block;
  width: 60%;
  height:60%;
  margin: 20% auto;    
  border-radius: 50%;    
}

input[type='radio']:checked:before {
  background:var(--green);
}

input[type='radio']:checked + span {
  font-weight: 900;
}

input[type='range'] {
  width: 400px;
  height: 15px;
  -webkit-appearance: none;
  border: 1px solid var(--green);
  outline: none;
  border-radius: 15px;
  overflow: hidden;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--green);
  cursor: pointer;
  border: 4px solid var(--green);
}

span {
 color: var(--green);
 font-weight: 400;
}

p {
  color: #FF8847;
  margin-top:0.1em;
}


/* Submit Button */

button {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  letter-spacing: 0.03rem;
  color: var(--light-color);
  padding: 0.5rem;
  background-image: linear-gradient(to right, #008285, #00828d, #008294, #00829b, #0081a1);
  box-shadow: 1px 1px 4px var(--light-grey);
  border: none;
  border-radius: 0.5rem;
  transition: all 0.5s ease-out;
}

button:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #198e91, #1b919a, #2094a3, #2897ab, #329ab3);
}

button:active {
  box-shadow: inset 0px 1px 3px var(--color-dark-text);
}


/* Animations */

@keyframes wrapper-start {
  0% {
    transform: translateY(-700px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes elements-start {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.label-dish-name, .input-dish-name, .label-prep-time, .input-prep-time, .label-dish-type, .label-pizza, .label-soup, .label-sandwich, .form-content, .form-content::before, button, h1 {
  animation: elements-start 1s ease-out forwards;
  opacity: 0;
}

.label-dish-name {
  animation-delay: 0.1s;
}

.input-dish-name {
  animation-delay: 0.2s;
}

.label-prep-time {
  animation-delay: 0.3s;
}

.input-prep-time {
  animation-delay: 0.4s;
}

.label-dish-type {
  animation-delay: 0.5s;
}

.label-pizza {
  animation-delay: 0.6s;
}

.label-soup {
  animation-delay: 0.7s;
}

.label-sandwich {
  animation-delay: 0.8s;
}

button {
  animation-delay: 0.8s;
}


/* Media Queries */

@media (max-width: 768px) and (orientation: portrait) {
  :root{
    font-size: calc(0.5em + 1vw);
  }
  .form-content {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .form-content::before {
    border-radius: 0;
  }
}

@media (max-height: 800px) {
  body {
    overflow-y: visible;
  }

  .wrapper{
    align-items:flex-start;
    padding: 1rem;
  }
}

/* Form Success */

.form-success{
  font-family: 'Lato', sans-serif;
  color: var(--color-dark-text);
  z-index: 2;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
}